*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  background-color:lightblue}

.container{
  margin: auto;
  max-width: 100.0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30.0rem,1fr));
  grid-gap: 2.0rem;
  justify-content: center;
}

.polaroid{
  background: white;
  padding: 15px 15px 40px;
}

.photo{
  width: 100%;
  height: 29.0rem;
  object-fit: cover;
}

